@page "/dadosmae"

    <div id="u102" class="ax_default" data-label="Dados pessoais">
        <div id="u102_state0" class="panel_state" data-label="State1" style="">
            <div id="u102_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u103" class="ax_default label">
                    <div id="u103_div" class=""></div>
                    <div id="u103_text" class="text ">
                        <p><span>Nome do responsável </span></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u104" class="ax_default text_field">
                    <input id="u104_input" type="text" value="Maria da Silva" disabled />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u105" class="ax_default label">
                    <div id="u105_div" class=""></div>
                    <div id="u105_text" class="text ">
                        <p><span>RG</span></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u106" class="ax_default text_field">
                    <input id="u106_input" type="text" value="000000000000" disabled />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u107" class="ax_default label">
                    <div id="u107_div" class=""></div>
                    <div id="u107_text" class="text ">
                        <p><span>Data nascimento</span></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u108" class="ax_default text_field">
                    <input id="u108_input" type="text" value="00/00/0000" disabled />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u109" class="ax_default label">
                    <div id="u109_div" class=""></div>
                    <div id="u109_text" class="text ">
                        <p><span>Nome da mãe do responsável</span></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u110" class="ax_default text_field">
                    <input id="u110_input" type="text" value="Maria das Dores Silva" disabled />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u111" class="ax_default label">
                    <div id="u111_div" class=""></div>
                    <div id="u111_text" class="text ">
                        <p><span>CPF</span></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u112" class="ax_default text_field">
                    <input id="u112_input" type="text" value="000000000000" disabled />
                </div>

                <!-- Unnamed (Droplist) -->
                <div id="u113" class="ax_default droplist">
                    <select id="u113_input" disabled>
                        <option value="SP">SP</option>
                    </select>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u114" class="ax_default label">
                    <div id="u114_div" class=""></div>
                    <div id="u114_text" class="text ">
                        <p><span>UF</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #Dados responsavel (Rectangle) -->
    <div id="u115" class="ax_default paragraph" data-label="#Dados responsavel">
        <div id="u115_div" class=""></div>
        <div id="u115_text" class="text ">
            <p><span>Dados da mãe</span></p>
        </div>
    </div>

    @code {

    }
