@page "/dadosgestacao"

    <!-- Unnamed (Rectangle) -->
    <div id="u85" class="ax_default paragraph">
        <div id="u85_div" class=""></div>
        <div id="u85_text" class="text ">
            <p><span>CADASTRO PRÉ-NATAL - Dados da Gestação</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u86" class="ax_default label">
        <div id="u86_div" class=""></div>
        <div id="u86_text" class="text ">
            <p><span>Nome da mãe</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u87" class="ax_default text_field">
        <input id="u87_input" type="text" value="Maria da Silva" disabled />
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u88" class="ax_default label" title="Número Cartão Nacional da Saúde">
        <div id="u88_div" class=""></div>
        <div id="u88_text" class="text ">
            <p><span>Nº CNS</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u89" class="ax_default text_field">
        <input id="u89_input" type="text" value="00000000000000" disabled />
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u90" class="ax_default label">
        <div id="u90_div" class=""></div>
        <div id="u90_text" class="text ">
            <p><span>Data de nascimento prevista</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u91" class="ax_default label">
        <div id="u91_div" class=""></div>
        <div id="u91_text" class="text ">
            <p><span>Data desejada para matrícula</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u92" class="ax_default text_field">
        <input id="u92_input" type="text" value="" />
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u93" class="ax_default text_field">
        <input id="u93_input" type="text" value="" />
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u94" class="ax_default icon">
        <img id="u94_img" class="img " src="images/dados_da_gesta__o/u94.png" />
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u95" class="ax_default icon">
        <img id="u95_img" class="img " src="images/dados_da_gesta__o/u94.png" />
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u96" class="ax_default label">
        <div id="u96_div" class=""></div>
        <div id="u96_text" class="text ">
            <p><span>Tipo de gestação</span></p>
        </div>
    </div>

    <!-- Unnamed (Radio Button) -->
    <div id="u97" class="ax_default radio_button">
        <label for="u97_input" style="position: absolute; left: 0px;">
            <div id="u97_text" class="text ">
                <p><span>&nbsp;Única</span></p>
            </div>
        </label>
        <input id="u97_input" type="radio" value="radio" name="Tipo gestação" />
    </div>

    <!-- Unnamed (Radio Button) -->
    <div id="u98" class="ax_default radio_button">
        <label for="u98_input" style="position: absolute; left: 0px;">
            <div id="u98_text" class="text ">
                <p><span>&nbsp;Múltipla (gêmeos)</span></p>
            </div>
        </label>
        <input id="u98_input" type="radio" value="radio" name="Tipo gestação" />
    </div>

    <!-- QtdGemeos (Droplist) -->
    <div id="u99" class="ax_default droplist ax_default_hidden" data-label="QtdGemeos" style="display:none; visibility: hidden">
        <select id="u99_input">
            <option selected value="Nº bebês">Nº bebês</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u100" class="ax_default label">
        <div id="u100_div" class=""></div>
        <div id="u100_text" class="text ">
            <p><span>Nº Cartão pré-natal</span></p>
        </div>
    </div>


    @code {

    }
