@page "/protocolocandidatovaga"

    <!-- Unnamed (Rectangle) -->
    <div id="u337" class="ax_default paragraph">
        <div id="u337_div" class=""></div>
        <div id="u337_text" class="text ">
            <p><span>Protocolo de candidato à vaga</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u338" class="ax_default label">
        <div id="u338_div" class=""></div>
        <div id="u338_text" class="text ">
            <p><span>Nome da mãe </span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u339" class="ax_default text_field">
        <input id="u339_input" type="text" value="Maria da Silva" disabled />
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u340" class="ax_default label">
        <div id="u340_div" class=""></div>
        <div id="u340_text" class="text ">
            <p><span>Nº CNS</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u341" class="ax_default text_field">
        <input id="u341_input" type="text" value="00000000000000" disabled />
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u342" class="ax_default label">
        <div id="u342_div" class=""></div>
        <div id="u342_text" class="text ">
            <p><span>Nº Cartão pré-natal</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u343" class="ax_default text_field">
        <input id="u343_input" type="text" value="00000000000000" disabled />
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u344" class="ax_default paragraph">
        <div id="u344_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u345" class="ax_default heading_3">
        <div id="u345_div" class=""></div>
        <div id="u345_text" class="text ">
            <p><span>Nº protocolo 000000000-01</span></p>
        </div>
    </div>

    <!-- Recém nascido 1 (Dynamic Panel) -->
    <div id="u346" class="ax_default" data-label="Recém nascido 1">
        <div id="u346_state0" class="panel_state" data-label="State1" style="">
            <div id="u346_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u347" class="ax_default label">
                    <div id="u347_div" class=""></div>
                    <div id="u347_text" class="text ">
                        <p><span>Nome da criança</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u348" class="ax_default paragraph">
                    <div id="u348_div" class=""></div>
                    <div id="u348_text" class="text ">
                        <p><span>José da Silva</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u349" class="ax_default label">
                    <div id="u349_div" class=""></div>
                    <div id="u349_text" class="text ">
                        <p><span>Data de nascimento</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u350" class="ax_default paragraph">
                    <div id="u350_div" class=""></div>
                    <div id="u350_text" class="text ">
                        <p><span>00/00/0000</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u351" class="ax_default icon">
                    <img id="u351_img" class="img " src="images/protocolo_candidato/u351.png" />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u352" class="ax_default paragraph">
                    <div id="u352_div" class=""></div>
                    <div id="u352_text" class="text ">
                        <p><span>Imprimir</span></p><p><span>protocolo</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u353" class="ax_default label">
        <div id="u353_div" class=""></div>
        <div id="u353_text" class="text ">
            <p><span>Nº CNS criança 1</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u354" class="ax_default text_field">
        <input id="u354_input" type="text" value="000000000-01" disabled />
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u355" class="ax_default paragraph">
        <div id="u355_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u356" class="ax_default heading_3">
        <div id="u356_div" class=""></div>
        <div id="u356_text" class="text ">
            <p><span>Nº protocolo 000000000-01</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u357" class="ax_default label">
        <div id="u357_div" class=""></div>
        <div id="u357_text" class="text ">
            <p><span>Nº CNS criança 2</span></p>
        </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u358" class="ax_default text_field">
        <input id="u358_input" type="text" value="0000000000-02" disabled />
    </div>

    <!-- Unnamed (Horizontal Line) -->
    <div id="u359" class="ax_default line">
        <img id="u359_img" class="img " src="images/protocolo/u213.png" />
    </div>

    <!-- Unnamed (Horizontal Line) -->
    <div id="u360" class="ax_default line">
        <img id="u360_img" class="img " src="images/protocolo/u213.png" />
    </div>

    <!-- Recém nascido 2 (Dynamic Panel) -->
    <div id="u361" class="ax_default" data-label="Recém nascido 2">
        <div id="u361_state0" class="panel_state" data-label="State1" style="">
            <div id="u361_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u362" class="ax_default label">
                    <div id="u362_div" class=""></div>
                    <div id="u362_text" class="text ">
                        <p><span>Nome da criança</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u363" class="ax_default paragraph">
                    <div id="u363_div" class=""></div>
                    <div id="u363_text" class="text ">
                        <p><span>Maria Chiquinha da Silva</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u364" class="ax_default label">
                    <div id="u364_div" class=""></div>
                    <div id="u364_text" class="text ">
                        <p><span>Data de nascimento</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u365" class="ax_default paragraph">
                    <div id="u365_div" class=""></div>
                    <div id="u365_text" class="text ">
                        <p><span>00/00/0000</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u366" class="ax_default icon">
                    <img id="u366_img" class="img " src="images/protocolo_candidato/u351.png" />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u367" class="ax_default paragraph">
                    <div id="u367_div" class=""></div>
                    <div id="u367_text" class="text ">
                        <p><span>Imprimir</span></p><p><span>protocolo</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @code {

    }
