<footer class="page-footer" id="skipto-rodape" role="contentinfo">
    <div class="container footer-content">
        <div class="row">
            <div class="footer-info col s12">
                <div class="row">
                    <div class="col s12 m3 l2 logo-footer">
                        <img src="img/logo_Educacao.png" title="Logotipo da Secretaria de Educação" alt="Logotipo da Secretaria de Educação." tabindex="80" />
                    </div>
                    <div class="col s12 m3 l2 logo-footer">
                        <img src="img/logo_Saude.png" title="Logotipo da Secretaria de Saúde" alt="Logotipo da Secretaria de Saúde." tabindex="81" />
                    </div>
                    <div class="col s12 m3 l2 right">
                        <a class="email" href="mailto:maepaulistanacreche@sme.prefeitura.sp.gov.br" target="_blank"
                           title="E-mail de contato" alt="E-mail de contato." tabindex="82">maepaulistanacreche@sme.prefeitura.sp.gov.br</a>
                        <p>
                            <img src="img/icone_Telefone.png" title="Telefone" alt="Telefone." tabindex="83">
                            <span class="alinhamento_vertical_top">(11) 3396-0346</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 footer-cc">
                    <p>(c)</p>
                </div>
                <div class="col s12 m3 right-align"><p class="right alinhamento_mobile_center">Hospedagem e desenvolvimento </p></div>
                <div class="col s12 m1 prodam"></div>
            </div>
        </div>
    </div>
</footer>

<noscript>Seu navegador não suporta JavaScript!</noscript>
@code { string imageURL = "http://dpp9764.prodam/maepaulistana/"; }
